/*
Styleguide Forms
*/

/*
Formatação de formulários usando a classe .alma-form:

Markup:
<form class="alma-form $modifierClass">
    <fieldset>
        <legend>Formulario</legend>
        <div>
            <label for="txtTexto">Text:</label>
            <input type="text" id="txtTexto" value="teste"/>
        </div>
        <div>
            <label for="txtPassword">Password:</label>
            <input type="password" id="txtPassword" value="teste"/>
        </div>
        <div>
            <label for="txtColor">Color:</label>
            <input type="color" id="txtColor"/>
        </div>
        <div>
            <label for="txtSelect">Select:</label>
            <select id="txtSelect">
                <option>Opçao 1</option>
                <option>Opçao 2</option>
                <option>Opçao 3</option>
            </select>
        </div>
        <div>
            <input type="radio" id="txtRadio1" value="Opçao 1" checked="checked" />
            <label for="txtRadio1">Opçao 1</label>
            <input type="radio" id="txtRadio2" value="Opçao 2" />
            <label for="txtRadio2">Opçao 2</label>
        </div>
        <div>
            <input type="checkbox" checked="checked" value="Opcao 1" id="txtCheck2" />
            <label for="txtCheck1" class="selected">Opcao 1</label>
        </div>
        <div>
            <input type="checkbox" value="Opcao 2" id="txtCheck2" />
            <label for="txtCheck2">Opcao 2</label>
        </div>
        <div>
            <label for="txtTextarea">TextArea:</label>
            <textarea id="txtTextarea">teste</textarea>
        </div>
    </fieldset>
</form>

.alma-form-stacked - Elementos empilhados.

Styleguide Forms - 1.Elementos do Formulário
*/

.alma-form{
	margin: .5em;
}

.alma-form div{
    margin: .25em 0;
}

.alma-form input[type="text"],
.alma-form input[type="password"],
.alma-form input[type="email"],
.alma-form input[type="url"],
.alma-form input[type="date"],
.alma-form input[type="month"],
.alma-form input[type="time"],
.alma-form input[type="datetime"],
.alma-form input[type="datetime-local"],
.alma-form input[type="week"],
.alma-form input[type="number"],
.alma-form input[type="search"],
.alma-form input[type="tel"],
.alma-form input[type="color"],
.alma-form select,
.alma-form textarea {
    display: inline-block;
    padding: 0.5em 0.6em;
    background-color: #fafafa;
    color: #333;
    box-shadow: inset 0 1px 2px #ddd;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

.alma-form input[type="text"]:focus,
.alma-form input[type="password"]:focus,
.alma-form input[type="email"]:focus,
.alma-form input[type="url"]:focus,
.alma-form input[type="date"]:focus,
.alma-form input[type="month"]:focus,
.alma-form input[type="time"]:focus,
.alma-form input[type="datetime"]:focus,
.alma-form input[type="datetime-local"]:focus,
.alma-form input[type="week"]:focus,
.alma-form input[type="number"]:focus,
.alma-form input[type="search"]:focus,
.alma-form input[type="tel"]:focus,
.alma-form input[type="color"]:focus,
.alma-form select:focus,
.alma-form textarea:focus {
    outline: 0;
    outline: thin dotted \9; 
    border-color: #51a7e8;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

.alma-form input[readonly],
.alma-form select[readonly],
.alma-form textarea[readonly] {
    background: #eee; 
    color: #777; 
    border-color: #ccc;
}

.alma-form select {
    border: 1px solid #ccc;
    background-color: #fff;
}

.alma-form select[multiple] {
    height: auto;
}

.alma-form label {
    display: inline;
    margin: 0.5em 0 0.2em;
    font-size: .85em;
    color: #666;
}
.alma-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.alma-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}

.alma-form-stacked input[type="text"],
.alma-form-stacked input[type="password"],
.alma-form-stacked input[type="email"],
.alma-form-stacked input[type="url"],
.alma-form-stacked input[type="date"],
.alma-form-stacked input[type="month"],
.alma-form-stacked input[type="time"],
.alma-form-stacked input[type="datetime"],
.alma-form-stacked input[type="datetime-local"],
.alma-form-stacked input[type="week"],
.alma-form-stacked input[type="number"],
.alma-form-stacked input[type="search"],
.alma-form-stacked input[type="tel"],
.alma-form-stacked input[type="color"],
.alma-form-stacked select,
.alma-form-stacked label,
.alma-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.alma-form-stacked input[type="checkbox"],
.alma-form-stacked input[type="radio"] {
    float: left;
    margin-right: 0.25em;
}