/*
Styleguide Pagination
*/

/*
Formataçao de paginaçao:

Markup:
<div class="alma-paginator">
  <span class="alma-paginator-disabled">&lt;</span>
  <span class="current">1</span>
  <span>
    <a href="#">2</a>
  </span>
  <span>
    <a href="#">3</a>
  </span>
  <span class="next">
    <a href="#" rel="next">&gt;</a>
  </span>
</div>

Styleguide Pagination - 1.Paginaçao
*/

.alma-paginator {
    display: table;
    border-right: 1px solid #ddd;
}

.alma-paginator span{
    display: table-cell;
    line-height: 2.5em;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
}

.alma-paginator a {
    display: inline-block;
    cursor: pointer;
}

.alma-paginator span, .alma-paginator a{
    width: 2.5em;
    height: 2.5em;
    color: #555;
}

.alma-paginator span:hover{
    background-color: #fcfcfc;
}

.alma-paginator a {
    color: #4183c4;
    text-decoration: none;
}

.alma-paginator .alma-paginator-disabled {
    color: #ddd;
    cursor: default;
}

.alma-paginator .alma-paginator-disabled:hover, .alma-paginator .current:hover {
    background-color: #f5f5f5;
}